<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../content/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="../content/fontawesome/css/all.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../content/css/myStyle.css">
  </head>
  <body class="bg-light">
    <div class="container-fluid">
        <div class="row mt-2">
            <div class="col-md-6">
              <div class="card rounded-0 border-0">
                <div class="card-body bg-light">
                  <div class="form-row form-group">
                    <div class="col-md-12">
                      <div class="row">
                          <p>Günün özetine aşağıdan ulaşabilirsiniz.</p>
                        <textarea name="txtEndDay" id="txtEndDay" class="form-control" rows="10"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="form-row form-group justify-content-end">
                      <button type="submit" class="btn btn-primary btn-sm rounded-0" id="btnEndDay"><i class="fa fa-copy mr-2"></i>Kopyala</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../content/js/jquery-3.4.1.min.js"></script>
    <script>window.$ = window.jQuery = require('../content/js/jquery-3.4.1.min.js');</script>
    <script src="../content/js/popper.min.js"></script>
    <script src="../content/js/bootstrap.min.js"></script>
    <script src="../content/js/end-day.js"></script>
  </body>
</html>