<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../content/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="../content/fontawesome/css/all.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../content/css/myStyle.css">
  </head>
  <body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light sticky-top" id="topNav">
      <a class="navbar-brand" href="#" id="brand">
          <img src="../content/img/list.png" width="30" height="30" class="d-inline-block align-top">
      </a>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <span>Günlük İş Takibi<span>
          </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
              <div class="btn-group" role="group" aria-label="Basic example" id="topNavButtons">
                <button type="button" id="btnGetHistory" class="btn btn-danger btn-sm" title="Geçmiş"><i class="fas fa-history mr-1 ml-1"></i></button>
                <button type="button" id="btnEndDay" class="btn btn-danger btn-sm border-left" title="Günü Bitir"><i class="fas fa-flag-checkered mr-1 ml-1"></i></button>
                <button type="button" id="btnMinimizeApp" class="btn btn-danger btn-sm border-left" title="Simge Durumu"><i class="fas fa-window-minimize mr-1 ml-1"></i></button>
                <button type="button" id="btnCloseApp" class="btn btn-danger btn-sm border-left" title="Uygulamayı Kapat"><i class="fas fa-times mr-1 ml-1"></i></button>
              </div>
              <!-- <i href="#" id="btnCloseApp" class="btn btn-danger btn-sm"><i class="fas fa-times"></i></a> -->
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
      <div class="row bg-danger text-light justify-content-end">
        <div class="col-md-12 text-right pt-1 pb-1">
          <span><i class="fa fa-calendar-alt mr-2"></i><span id="lblTodayDate"></span></span>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-6">
          <div class="card rounded-0 border-0">
            <div class="myCardHeader bg-warning">
              <b>Yeni İş Kaydı</b>
            </div>
            <div class="card-body bg-light">
              <div class="form-row form-group">
                <div class="col-md-12">
                  <div class="row justify-content-between">
                    <label for="newJob">İş Detayları</label>
                  </div>
                  <div class="row">
                    <textarea name="newJob" id="txtNewJob" class="form-control" rows="5"></textarea>
                  </div>
                </div>
              </div>
              <div class="form-row form-group justify-content-end">
                  <button type="submit" class="btn btn-primary btn-sm rounded-0" id="btnSaveJob"><i class="fa fa-save mr-2"></i>Kaydet</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card rounded-0 border-0">
            <div class="myCardHeader bg-warning">
              <b>Bugün Yaptığınız İşler</b>
            </div>
            <div class="card-body bg-light" id="jobListContainer">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../content/js/jquery-3.4.1.min.js"></script>
    <script>window.$ = window.jQuery = require('../content/js/jquery-3.4.1.min.js');</script>
    <script src="../content/js/popper.min.js"></script>
    <script src="../content/js/bootstrap.min.js"></script>
    <script src="../content/js/mainWindow.js"></script>
  </body>
</html>